:root {
    --text: #fceee9;
    --light: #dde6d5;
    --medium: #f8d3c5;
    --dark: #a3b899;
    --darkest: #667b68;
}

body {
    font-family: "Open Sans" sans-serif;
    background-color: var(--medium);
}

.title {
    padding: 150px;
    margin: 0;
    text-align: center;
    background-color: var(--darkest);
    color: var(--text);
    font-size: 120px;
    font-style: italic;
}

.main-list {
    margin: 20px 0;
    padding: 20px;
    background-color: var(--dark);
    text-align: center;
    font-size: 40px;
    list-style-type: none;
}

.main-list, li {
    padding: 20px 20px;
}

.list-item {
    text-decoration: none;
    color: var(--text);
}

.list-item:hover {
    color: var(--medium);
}
